---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/privacy/Hero.astro";
import Content from "@Components/privacy/Content.astro";
---

<Layout
  title="PrometheusTij || Privacy Policy - Your Data, Our Responsibility"
  description="Learn how we handle your personal data. At PrometheusTij, we are committed to offering transparency and security."
  keywords="privacy policy, data protection, privacy, PrometheusTij, digital security, data handling, GDPR, online privacy"
>
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
