---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/privacy/Hero.astro";
import Content from "@Components/privacy/Content.astro";
---

<Layout title="Privacy Policy">
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
