---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/terms/Hero.astro";
import Content from "@Components/terms/Content.astro";
---

<Layout
  title="PrometheusTij || Términos y Condiciones - Acuerdo de servicio"
  description="Lee nuestros términos y condiciones para comprender el uso de nuestros servicios digitales. Garantizamos transparencia y compromiso."
  keywords="términos y condiciones, uso de servicios, PrometheusTij, política de uso, condiciones de servicio, contrato digital, compromiso empresarial"
>
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
