---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/terms/Hero.astro";
import Content from "@Components/terms/Content.astro";
---

<Layout title="Terminos y condiciones">
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
