---
import Layout from "@Layouts/404Layout.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="404 - Página no encontrada">
  <div class="h-screen bg-gray-800 flex justify-center items-center flex-col">
    <img src="/logo.png" alt="Logo PrometheusTij" />
    <h1 class="text-4xl md:text-7xl text-white">
      {t("404.title")}
    </h1>
    <p class="text-white text-xl md:text-3xl">
      {t("404.subtitle")}
      <a href="/" class="text-blue-500"> {t("404.button")} </a>
    </p>
  </div>
</Layout>
