---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hero h-screen">
  <div class="flex justify-center items-center h-full">
    <div class="text-white text-center">
      <h1 class="text-6xl font-bold">{t("term.title")}</h1>
    </div>
  </div>
</div>

<style>
  .hero {
    background-image: url("/Imagenes/6.png");
    background-size: cover;
  }
</style>
