---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main
  class="bg-gray-700 py-12 md:py-0 md:h-screen flex justify-center items-center flex-col text-white px-4"
>
  <h1 class="text-5xl mb-8">
    {t("about.title")}
  </h1>
  <h1 class="text-3xl mb-8">
    {t("about.subtitle")}
  </h1>
</main>
