<main class="flex justify-center items-center">
  <div class="md:block hidden">
    <img src="/Imagenes/7.png" class="w-screen" alt="" />
  </div>
  <div class="md:hidden block">
    <img src="/Imagenes/8.png" class="w-screen" alt="" />
  </div>
</main>
