<main class="flex justify-center items-center">
  <div class="md:block hidden">
    <img
      src="/Imagenes/7.webp"
      class="w-screen h-screen"
      alt="Prometheus se encarga en la implementacion de tecnologias en Tijuana"
      title="Prometheus se encarga en la implementacion de tecnologias en Tijuana"
    />
  </div>
  <div class="md:hidden block">
    <img
      src="/Imagenes/7.webp"
      class="w-screen"
      alt="Prometheus se encarga en la implementacion de tecnologias en Tijuana"
      title="Prometheus se encarga en la implementacion de tecnologias en Tijuana"
    />
  </div>
</main>
