<main
  class="hero h-screen text-white flex justify-center px-16 items-start flex-col bg-cover bg-center bg-no-repeat banner"
>
</main>

<style>
  .banner {
    background-image: url("/banner.jpg");
  }
</style>
