<main
  class="hero h-screen text-white flex justify-center px-16 items-start flex-col bg-cover bg-center bg-no-repeat"
>
  <h1 class="text-7xl mt-32 md:mt-0">El futuro de la conexión digital</h1>
  <p class="text-2xl mb-4 md:w-[700px]">
    Estamos trascendiendo las pantallas 2D e incursionando en experiencias
    envolventes en el metaverso para dar forma a la próxima evolución de la
    tecnología social.
  </p>
  <a
    href="#contact"
    class="bg-blue-500 px-12 text-3xl py-4 uppercase hover:opacity-75"
    >Más información
  </a>
</main>

<style>
  .hero {
    background-image: url("/background.png");
  }
</style>
