---

---

<main>
  <section class="grid grid-cols-1 md:grid-cols-2">
    <div class="bg-black">
      <img src="/Imagenes/1.png" alt="" class="w-full" />
    </div>
    <div class="flex justify-center items-center flex-col">
      <h1 class="uppercase text-5xl">Poderosas soluciones</h1>
      <p class="text-xl">Somos un equipo de talento digital.</p>
      <button class="bg-black px-8 py-2 text-3xl uppercase text-white">
        Cotizar
      </button>
    </div>
  </section>
  <section class="grid grid-cols-2">
    <div class="flex justify-center items-center flex-col">
      <h1 class="uppercase text-5xl text-center">
        CONVERTIMOS TUS GRANDES IDEAS EN SOLUCIONES IMPACTANTES.
      </h1>
    </div>
    <div class="bg-black">
      <img src="/Imagenes/2.png" alt="" class="w-full" />
    </div>
  </section>
</main>
