---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class="text-white">
  <section class="grid grid-cols-1 md:grid-cols-2">
    <div class="bg-black hidden md:block">
      <img
        src="/Imagenes/1.png"
        alt="Prometheus se encarga en el desarollo"
        title="Prometheus se encarga en el desarollo"
      />
    </div>
    <div class="flex justify-center items-center flex-col fondo1 md:py-0 py-8">
      <h1 class="uppercase text-5xl mb-2">
        {t("quote.title")}
      </h1>
      <p class="text-xl mb-4">
        {t("quote.subtitle")}
      </p>
      <a href="#contact" title="Ir a contact">
        <button class="bg-[#39BAC8] px-8 py-2 text-3xl uppercase text-white">
          {t("quote.button")}
        </button>
      </a>
    </div>
    <div class="bg-black block md:hidden">
      <img
        src="/Imagenes/1.png"
        alt="Prometheus se encarga en el desarollo"
        title="Prometheus se encarga en el desarollo"
      />
    </div>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2">
    <div class="flex justify-center items-center flex-col fondo2 md:py-0 py-8">
      <h1 class="uppercase text-3xl md:text-5xl text-center">
        {t("quote.title2")}
      </h1>
    </div>
    <div class="bg-black">
      <img
        src="/Imagenes/2.png"
        alt="Prometheus tiene un gran impacto en tijuana baja california"
        title="Prometheus tiene un gran impacto en tijuana baja california"
        class="w-screen"
      />
    </div>
  </section>
</main>

<style>
  .fondo1 {
    background-image: url("/Fondos/6.webp");
    background-size: cover;
  }
  .fondo2 {
    background-image: url("/Fondos/3.webp");
    background-size: cover;
  }
</style>
