---
const services = [
  {
    id: 1,
    title: "Desarollo de apps",
    image: "/apps.webp",
  },
  {
    id: 2,
    title: "Desarollow web",
    image: "/web.webp",
  },
  {
    id: 3,
    title: "Desarollo de prototipos",
    image: "/desarollo.webp",
  },
];
---

<main>
  <h1>Conoce nuestros servicios</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil obcaecati,
    dolores fugiat suscipit amet maxime. Aliquam quasi deserunt assumenda
    cupiditate tenetur hic ex odit!
  </p>
</main>
