---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const services = [
  {
    id: 1,
    title: t("service.web"),
    image: "/Imagenes/3.webp",
    href: "/prices/web/",
  },
  {
    id: 2,
    title: t("service.prototypes"),
    image: "/Imagenes/4.jpg",
    href: "/prices/prototipo/", // Añadido un href para consistencia
  },
  {
    id: 3,
    title: t("service.apps"),
    image: "/Imagenes/5.webp",
    href: "/prices/app/", // Añadido un href para consistencia
  },
];
---

<main class="min-h-screen text-white px-8 py-16 bg-[#39BAC8] service">
  <h1 class="text-7xl text-center mb-8 font-bold">
    {t("service.title")}
  </h1>
  <p class="mb-12 text-2xl text-center max-w-4xl mx-auto">
    {t("service.about")}
  </p>
  <div class="flex flex-col md:flex-row md:justify-center items-center gap-16">
    {
      services.map((service) => (
        <div class="bg-white bg-opacity-10 backdrop-blur-md rounded-lg shadow-lg overflow-hidden transform transition-transform duration-300 hover:scale-105">
          <img
            src={service.image}
            alt={service.title}
            class="w-full h-72 object-cover"
          />
          <a
            href={service.href}
            class="flex justify-center items-center text-2xl font-semibold bg-gray-800 text-white h-20 hover:bg-gray-700 transition-colors duration-300"
          >
            {service.title}
          </a>
        </div>
      ))
    }
  </div>
</main>

<style>
  .service {
    background-image: url("/Fondos/5.webp");
    background-size: cover;
    background-position: center;
  }
</style>
