---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const work = [
  {
    id: 1,
    logo: "/Iconos/Medalla.webp",
    title: t("work.basic"),
    description: "lorem",
    price: 150.0,
  },
  {
    id: 2,
    logo: "/Iconos/Medalla.webp",
    title: t("work.professional"),
    description: "lorem",
    price: 200.0,
  },
  {
    id: 3,
    logo: "/Iconos/Medalla.webp",
    title: t("work.ultimate"),
    description: "lorem",
    price: 250.0,
  },
];
---

<main class="md:h-screen px-16 py-16 bg-[#AFAFAF] text-white">
  <h1 class="text-6xl text-center mb-8">
    {t("work.title")}
  </h1>
  <p class="text-2xl mb-12 text-center">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, animi!
  </p>
  <div
    class="flex flex-col md:flex-row gap-4 md:justify-between items-center text-white"
  >
    {
      work.map((index) => (
        <div class="border border-black w-96 bg-[#39BAC8] py-8 flex justify-center items-center flex-col gap-8 rounded-lg">
          <img src={index.logo} alt="" />
          <h1 class="text-4xl mb-4">{index.title}</h1>
          <p class="text-2xl">{index.description}</p>
          <a href="#contact">
            <button class="text-white bg-black px-8 py-2 text-2xl hover:opacity-85 w-80">
              ${index.price}.00
            </button>
          </a>
        </div>
      ))
    }
  </div>
</main>

<style>
  main {
    background-image: url("/Fondos/4.webp");
    background-size: cover;
  }
</style>
