---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/terms/Hero.astro";
import Content from "@Components/terms/Content.astro";
---

<Layout
  title="PrometheusTij || Terms and Conditions - Service Agreement"
  description="Read our terms and conditions to understand how our digital services work. We guarantee transparency and commitment."
  keywords="terms and conditions, service usage, PrometheusTij, usage policy, service terms, digital contract, business commitment"
>
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
