---
import Layout from "@Layouts/Layout.astro";
import Hero from "@Components/privacy/Hero.astro";
import Content from "@Components/privacy/Content.astro";
---

<Layout
  title="PrometheusTij || Política de Privacidad - Seguridad y Transparencia"
  description="Conoce cómo manejamos tus datos personales. En PrometheusTij nos comprometemos a ofrecerte transparencia y seguridad."
  keywords="política de privacidad, protección de datos, privacidad, PrometheusTij, seguridad digital, manejo de datos, GDPR, privacidad en línea"
>
  <main>
    <Hero />
    <Content />
  </main>
</Layout>
